html,body {
    overflow: hidden;
    height: 100%;
    margin:0;
}

.row{
    margin-top: 22px;
}

.row-button{
    margin: 25px ;
}

.property-card{
    border-style: none;
}

.container{
  display:flex;
  flex-direction: column;
  align-items: left;
  height:fit-content;
  width: 100%;
}

.property-name-box{
    width: 100%;
}

:host ::ng-deep .p-dropdown{
    width: 100%;
}

.monthly-rental{
    width: 100%;
}

.dropdown-box{
    display: flex;
    width: 100%;
}

.western-flag{
    width: 20px;
}

.property-size{
    width: 100%;
}

.button-container{
    width:100%;
}

.submit-btn{
    display: flex;
    float: right;
}

:host ::ng-deep .p-element{
    border-radius: 6px;
}

