html,body {
    overflow: hidden;
    height: 100%;
    margin:0;
}

.row{
    margin-top: 22px;
}

.property-table{
    margin-bottom: 22px;
}

.p-text-secondary{
    margin-bottom: 30px;
}

.row-button{
    margin: 25px ;
}

.parent-container{
    display:flex;
    margin-bottom: 22px;
}

.property-card{
    border-style: none;
}

.search{
    margin-left: auto;
    justify-content: flex-end;
}

.property-name-box{
    width: 300px;
    margin-left: 20px;
    margin-bottom: 22px;
}

:host ::ng-deep .p-dropdown{
    width: 100%;
}

.monthly-rental{
    width: 300px;
    margin-left: 20px;
    margin-bottom: 22px;
}

.dropdown-box{
    display: flex;
    width: 100%;
}

.float-label{
    margin-left: 20px;
}

.western-flag{
    width: 20px;
}

.property-size{
    width: 300px;
    margin-left: 20px;
    margin-bottom: 22px;
}

.button-container{
    width:100%;
}

.submit-btn{
    display: flex;
    float: right;
}

.map-view{
    height: 300px;
    width: 300px;
}

.add-property-form{
    display: flex;
}

.column{
    flex: 50%;
}