<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <nav class="navbar bg-body-tertiary">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img id="logo" src="assets\logo.jpg" alt="Bootstrap" width="120" height="120">
              </a>
            </div>
          </nav>
    </div>
    
</body>
</html>
