html,body {
    overflow: hidden;
    height: 100%;
    margin:0;
}

.row {
    margin-top: 25px;
}

.row1{
    margin-top: 40px;
}

.dialog-box{
    display: flex;
}

.container{
    display:flex;
    justify-content:center;
    align-items: center;
    border-style: none;
    flex-direction: column;
    height:min-content;
    width: max-content;
}

:host ::ng-deep .p-card-title{
    text-align: center;
}

.first-name-box{
    width: 100%;
}

.surname-box{
    width: 100%;
}

.property-name-box{
    width: 100%;
}

.user-email-box{
    width: 100%;
}

.tp-number-box{
    width: 100%;
}

p-card {
    width: 300px; 
    height: 550px;    
}

:host ::ng-deep .add-btn{
    display: flex;
    justify-content: right;
    font-size: medium;
}

:host ::ng-deep .p-element{
    border-radius: 6px;
}

.error-message{
    color: red;
    position: absolute;
    font-size: 14px;
    z-index: 1;
    background-color: white;
}

.text-label{
    width: 100%;
}

.add-btn{
    display: flex;
    float: right;
}

.button-container{
    width: 100%;
}