
.monthly-rental{
    width: 300px;
    margin-left: 20px;
    margin-bottom: 22px;
}

.dropdown-box{
    display: flex;
    width: 100%;
}

.row{
    margin-top: 22px;
}

.float-label{
    margin-left: 20px;
}

.western-flag{
    width: 20px;
}

.property-size{
    width: 300px;
    margin-left: 20px;
    margin-bottom: 22px;
}

.button-container{
    width:100%;
}

.submit-btn{
    display: flex;
    float: right;
}

.map-view{
    height: 300px;
    width: 300px;
    display: flex;
}

.add-property-form{
    display: flex;
}

.column{
    flex: 50%;
}

.parent-form{
    display:flex;
}

.floatLabel{
    margin-left: 20px;
}

.property-name-box{
    width: 300px;
    margin-left: 20px;
    margin-bottom: 22px;
}