<div class = "user-pop-up-form">
    <p-dialog [header]="currentPropertyProcess == _propertyVisibility.AddProperty ? 'Add User' : 'Update User'" [modal]="true" [(visible)]="isAddUserFormvisible" [contentStyle]="{'dialog-box':null}">
        <form class = "add-user-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
            <div class = "container">
                <p-floatLabel>
                    <input class="first-name-box" pInputText id="firstname" name="firstname" [(ngModel)]="firstname" required>
                        <div class="error-message" *ngIf="!userForm.submitted  && !userForm.controls['firstname']?.valid && userForm.controls['firstname']?.touched">
                            *Name is required.
                        </div>
                    <label class="text-label">First Name</label>
                </p-floatLabel>
                <p-floatLabel>
                    <input class="surname-box" pInputText id="lastname" name="lastname" [(ngModel)]="lastname" required> 
                        <div class="error-message" *ngIf="!userForm.submitted && !userForm.controls['lastname']?.valid && userForm.controls['lastname']?.touched">
                            *Surname is required.
                        </div>
                    <label class="text-label"> Surname </label>
                </p-floatLabel>
                <p-floatLabel>
                    <input class="property-name-box" pInputText id="propertyName" name="propertyName"  [(ngModel)]="propertyName" required>
                        <div class="error-message" *ngIf="!userForm.submitted && !userForm.controls['propertyName']?.valid && userForm.controls['propertyName']?.touched">
                            *Property Name is required.
                        </div>
                    <label class="text-label"> Property Name </label> 
                </p-floatLabel>
                <p-floatLabel>
                    <input class="user-email-box" pInputText id="email" type="email" name="email"  [(ngModel)]="email" required email="true" >
                        <div class="error-message" *ngIf="!userForm.submitted && !userForm.controls['email']?.valid && userForm.controls['email']?.touched">
                            *Email is required.
                        </div>
                    <label class="text-label"> Email </label> 
                </p-floatLabel>
                <p-floatLabel>
                    <input
                      class="tp-number-box"
                      pInputText
                      id="telephoneNumber"
                      name="telephoneNumber"
                      [(ngModel)]="telephoneNumber"
                      required
                      pattern="[0-9]{10}"
                      maxlength="10"
                    />
                    <div
                      class="error-message"
                      *ngIf="!userForm.submitted && !userForm.controls['telephoneNumber']?.valid && userForm.controls['telephoneNumber']?.touched"
                    >
                      *A valid 10-digit mobile number is required.
                    </div>
                    <label class="text-label">Mobile Number</label>
                  </p-floatLabel>
                <div class="button-container">
                    <p-button class="add-btn" (onClick)="closeDialog()" [disabled]="!userForm.valid" type="submit" [raised]="true" [rounded]="true" [label]="currentPropertyProcess==_propertyVisibility.AddProperty? 'Add User': 'Update User'" severity="warning"/>
                </div>  
            </div>
        </form>
    </p-dialog>
</div>
