
.dialog-box{
    display: flex;
}

.container{
    display:flex;
    justify-content:center;
    align-items: center;
    border-style: none;
    flex-direction: column;
    height:min-content;
    width: max-content;
}

.first-name-box{
    width: 100%;
    margin-bottom: 22px;
}

.surname-box{
    width: 100%;
    margin-bottom: 22px;
}

.property-name-box{
    width: 100%;
    margin-bottom: 22px;
}

.user-email-box{
    width: 100%;
    margin-bottom: 22px;
}

.tp-number-box{
    width: 100%;
    margin-bottom: 22px;
}

:host ::ng-deep .p-element{
    border-radius: 6px;
}

.error-message{
    color: red;
    position: absolute;
    font-size: 14px;
    z-index: 1;
    background-color: white;
}

.text-label{
    width: 100%;
}

.add-btn{
    display: flex;
    float: right;
}

.button-container{
    display: flex;
}