
<div class="login-container">
  <div class="card">
    <p-card
      header="Property Management System"
      class="title"
      subheader="Property Management Companion">

      <ng-template pTemplate="header">
        <img class="loginLogo" alt="Card" src="assets\logo.jpg" />
      </ng-template>
      <div class="username">
          <div class="flex flex-column gap-2">
          <label class="username-txt" for="username">Username</label>
          <input
            pInputText
            class="username-box"
            id="username"
            aria-describedby="username-help"
            [(ngModel)]="userName"
          />
        </div>
      </div>
      <div class="row" style="margin-top: 40px"></div>
      <div class="password">
        <div class="flex flex-column gap-2">
          <label class="password-txt" for="password">Password</label>
          <input
            (keydown.enter)="traceData()"
            type="password"
            pInputText
            class="password-box"
            id="password"
            aria-describedby="username-help"
            [(ngModel)]="password"
          />
        </div>
      </div>
      <ng-template pTemplate="footer">
        <div class="submitbtn">
          <p-toast position="top-right" key="tr" />
          <p-button
            (onClick)="traceData()"
            [loading]="loading"
            label="Login"
            [rounded]="true"
            severity="warning"
          />
        </div>
      </ng-template>
    </p-card>
  </div>
</div>


