html,body {
    overflow: hidden;
    height: 100%;
    margin:0;
}

.login-container{
display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.title{
    text-align: center;
    width: 420px; 
    height: 600px;
}

#passwordbox {
    width: 100%;
 }

.username{
    width: 100%; 
    height: 40px;
}

.loginLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 60%;
}

.username-txt{
    display: flex;
    margin-left: 0px;
    margin-right: auto;
}

.password-txt{
    display: flex;
    margin-left: 0px;
    margin-right: auto;
}

.submitbtn{
    text-align: center;
}

.username-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;   
}

.password-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



